.twoColumnsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
}

.threeColumnsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper > div {
  background-color: #b1a8ff;
}

.dropdown{
  height:70%;
  display:flex;
  align-items:center;
  justify-content:center;
      /* font-family: 'Ubuntu', sans-serif; */
      color: #8898aa;
}

.supervisorSelector{
  font-size: .875rem;
  height: calc(1.5em + 1.25rem + 5px);
  transition: all .15s ease-in-out;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  width: 100%;
  /* height: calc(1.5em + 1.25rem + 2px); */
  padding: .625rem .75rem;
  transition: all .15s cubic-bezier(.68, -.55, .265, 1.55);
  color: #8898aa;
  border: none;
  border-radius: .25rem;
  background-clip: padding-box;
  box-shadow: 0 3px 2px rgb(233 236 239 / 5%);
  background-color: #f6f6f6;
  box-shadow: 0 0px 0px rgb(50 50 93 / 15%), 0 0px 0 rgb(0 0 0 / 2%);
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top: 0.3rem;
}


@media screen and (max-width: 1100px) {
  .box-one-buttons {
    grid-template-columns: 1fr;;
  }
  .box-two-buttons {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 1350px) and (min-width:1200px) {
  .box-one-buttons {
    grid-template-columns: 1fr;;
  }
  .box-two-buttons {
    margin-top: 3rem;
  }
}

.hidden-formal-name-input{
  display: none !important;
}
