.wrapper {
  margin: 1rem;
  padding-top: 1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper > div {
  padding: 1rem;
  border-radius: 8px;
  height: 45rem;
}

.box1 {
  background-color: #e2e2e2;
  overflow-y: scroll;
  display: block;
  /* display: flex;
  justify-content: center; */
}

.boxTL {
  background-color: #b7faff;
  overflow-y: scroll;
  display: block;
}

.box2 {
  background-color: #ffb9b9;
  overflow-y: scroll;
  display: block;
}

.box3 {
  background-color: #d4ffd1;
  overflow-y: scroll;
  display: block;
}


::-webkit-scrollbar {
  width: 5px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 50px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180); 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(141, 141, 141); 
}

.card-titles {
  font-size: 150%;
  font-weight: bold;
}

.submit-padding {
  margin-left: 5rem;;
}