.thisIsAnError{
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffbfc5;
  margin: 20px;
  align-content: center;
  text-align: center;
}

.confirmationMessage {
  font-size: 1.5rem;
  font-weight: 800;
  color: #ccffbf;
  margin: 20px;
  align-content: center;
  text-align: center;
}