.wrapper {
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, 300px);
}

.smallMargin {
  margin-right: 1rem;
}

.hidden-email-imput{
  display: none !important;
}

.no-appointments-wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
}

.center-no-appointments-div {
  display: block;
  margin: auto;
}

.center-no-appointments-div > h4 {
  display: flex;
  margin: auto;
  font-size: 18px;
}