/* .verticalScroll {
  display: block;
  height: 30rem;
  overflow-y: auto;
} */

/* .table-fixed tr {
  display: block;
} */

.table-fixed tbody {
  /* height: 20rem; */
  overflow-y: scroll;
}

/* .table-fixed thead,
.table-fixed tbody {
  display: inline-block;
} */

.table-responsive{
  /* height: 30rem; */
  /* overflow: auto; */
  /* flex-grow: 0;
  flex-shrink: 0;
  width: 120vw; */
  /* scroll-direction: horizontal; */
}

.table-fixed th,
.table-fixed td {
  /* width: 12%; */
  box-sizing: border-box;
}

.table-fixed th{
  position: sticky;
  top: 0;
}

.table-fixed{
  position: relative;
}

/* .table-scroller {
  margin: auto !important;
  width: auto !important;
  height: auto !important;
  overflow: auto !important;
} */

.export-button-form{
  height: 60px;
}

.top-card-header{
  padding-top: 0 !important;
}